<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="RingConnectionString" connectionString="Data Source=JASMINERIVERA;Initial Catalog=Ring;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <pages validateRequest="false"/> 
      <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0"/>
    </system.web>

</configuration>
